[submodule "kali-lincox-wallpapers"]
	path = kali-lincox-wallpapers
	url = https://github.com/qrxnz/kali-lincox-wallpapers.git
[submodule "files/nvim"]
	path = files/nvim
	url = https://github.com/qrxnz/neovim.git
